# Download the file

In [1]:
!wget "http://eforexcel.com/wp/wp-content/uploads/2020/08/5000000-BT-Records.zip"

--2020-12-13 08:01:17--  http://eforexcel.com/wp/wp-content/uploads/2020/08/5000000-BT-Records.zip
Resolving eforexcel.com (eforexcel.com)... 162.214.80.24
Connecting to eforexcel.com (eforexcel.com)|162.214.80.24|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 63080761 (60M) [application/zip]
Saving to: ‘5000000-BT-Records.zip’

5000000-BT-Records. 100%[===================>]  60.16M  35.6MB/s    in 1.7s

2020-12-13 08:01:18 (35.6 MB/s) - ‘5000000-BT-Records.zip’ saved [63080761/63080761]

In [2]:
import zipfile
import os
with zipfile.ZipFile("/content/5000000-BT-Records.zip", 'r') as zip_ref:
    zip_ref.extractall()

In [3]:
print ("Size of file is {} MB".format(os.path.getsize("/content/5000000 BT Records.csv") >> 20))

Size of file is 235 MB

# Install PyPolars

In [4]:
!pip install py-polars

Collecting py-polars
  Downloading https://files.pythonhosted.org/packages/a1/ce/c180d969d19cd1df40e58ee8d2cb6b64fc232df97b8a47ebb2d36eac0eac/py_polars-0.0.26-cp36-cp36m-manylinux1_x86_64.whl (7.2MB)
     |████████████████████████████████| 7.2MB 5.6MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from py-polars) (1.18.5)
Installing collected packages: py-polars
Successfully installed py-polars-0.0.26

# Module Imports

In [5]:
import time
import numpy as np
import pandas as pd
import pypolars as pl

In [6]:
pd.set_option('display.float_format', lambda x: '%.1f' % x)

# Read Time Comparision

In [7]:
file_loc = "/content/5000000 BT Records.csv"

In [8]:
s = time.time()
df_pandas = pd.read_csv(file_loc)
e = time.time()
pd_time = e - s
print("Pandas Loading Time = {}".format(pd_time))

Pandas Loading Time = 6.960982799530029

In [9]:
df_pandas.head()

          Date Description   Deposits Withdrawls    Balance
0  21-Aug-2020    Reversal      00.00  10,612.64  53,063.19
1  21-Aug-2020  Commission      00.00  26,531.60  26,531.60
2  21-Aug-2020  Debit Card      00.00   8,843.87  17,687.73
3  21-Aug-2020        Cash  23,475.67      00.00  41,163.40
4  21-Aug-2020    Interest      00.00   5,145.43  36,017.98

In [10]:
s = time.time()
df_pypolars = pl.read_csv(file_loc)
e = time.time()
pl_time = e - s 
print("PyPolars Loading Time = {}".format(pl_time))

PyPolars Loading Time = 4.235971689224243

In [11]:
df_pypolars.head()

shape: (5, 5)
╭─────────────┬─────────────┬───────────┬────────────┬───────────╮
│ Date        ┆ Description ┆ Deposits  ┆ Withdrawls ┆ Balance   │
│ ---         ┆ ---         ┆ ---       ┆ ---        ┆ ---       │
│ str         ┆ str         ┆ str       ┆ str        ┆ str       │
╞═════════════╪═════════════╪═══════════╪════════════╪═══════════╡
│ 21-Aug-2020 ┆ Reversal    ┆ 00.00     ┆ 10,612.64  ┆ 53,063.19 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 21-Aug-2020 ┆ Commission  ┆ 00.00     ┆ 26,531.60  ┆ 26,531.60 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 21-Aug-2020 ┆ Debit Card  ┆ 00.00     ┆ 8,843.87   ┆ 17,687.73 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 21-Aug-2020 ┆ Cash        ┆ 23,475.67 ┆ 00.00      ┆ 41,163.40 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 21-Aug-2020 ┆ Interest    ┆ 00.00     ┆ 5,145.43   ┆ 36,017.98 │
╰─────────────┴─────────────┴───────────┴────────────┴───────────╯

In [12]:
pd_time > pl_time

True

In [13]:
print("pypolars is {:.2f} times faster than pandas in loading the csv file".format(pd_time / pl_time))

pypolars is 1.64 times faster than pandas in loading the csv file

# GroupBy Time Comparision

In [14]:
df_pandas.head()

          Date Description   Deposits Withdrawls    Balance
0  21-Aug-2020    Reversal      00.00  10,612.64  53,063.19
1  21-Aug-2020  Commission      00.00  26,531.60  26,531.60
2  21-Aug-2020  Debit Card      00.00   8,843.87  17,687.73
3  21-Aug-2020        Cash  23,475.67      00.00  41,163.40
4  21-Aug-2020    Interest      00.00   5,145.43  36,017.98

In [15]:
df_pandas["Balance"] = df_pandas["Balance"].str.replace(",", "")
df_pandas["Balance"] = df_pandas["Balance"].astype(float)

In [16]:
df_pandas.head()

          Date Description   Deposits Withdrawls  Balance
0  21-Aug-2020    Reversal      00.00  10,612.64  53063.2
1  21-Aug-2020  Commission      00.00  26,531.60  26531.6
2  21-Aug-2020  Debit Card      00.00   8,843.87  17687.7
3  21-Aug-2020        Cash  23,475.67      00.00  41163.4
4  21-Aug-2020    Interest      00.00   5,145.43  36018.0

In [17]:
s = time.time()
print(df_pandas.groupby("Description")["Balance"].mean())
e = time.time()
pd_time = e - s
print("Pandas GroupBy Calculation Time = {}".format(pd_time))

Description
ATM             613155.2
Bill            615399.1
Cash            614837.8
Cheque          613713.7
Commission      614796.2
Debit Card      613490.6
IMPS            614506.8
Interest        612680.3
Miscellaneous   613644.7
NEFT            612815.1
Purchase        611507.6
RTGS            612053.8
Reversal        613782.9
Tax             613021.1
Transfer        614664.2
Name: Balance, dtype: float64
Pandas GroupBy Calculation Time = 0.345766544342041

In [18]:
df_pypolars_from_pandas = pl.DataFrame(df_pandas)

In [19]:
df_pypolars_from_pandas.head()

shape: (5, 5)
╭─────────────┬─────────────┬───────────┬────────────┬────────────╮
│ Date        ┆ Description ┆ Deposits  ┆ Withdrawls ┆ Balance    │
│ ---         ┆ ---         ┆ ---       ┆ ---        ┆ ---        │
│ str         ┆ str         ┆ str       ┆ str        ┆ f64        │
╞═════════════╪═════════════╪═══════════╪════════════╪════════════╡
│ 21-Aug-2020 ┆ Reversal    ┆ 00.00     ┆ 10,612.64  ┆ 5.306319e4 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 21-Aug-2020 ┆ Commission  ┆ 00.00     ┆ 26,531.60  ┆ 2.65316e4  │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 21-Aug-2020 ┆ Debit Card  ┆ 00.00     ┆ 8,843.87   ┆ 1.768773e4 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 21-Aug-2020 ┆ Cash        ┆ 23,475.67 ┆ 00.00      ┆ 4.11634e4  │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 21-Aug-2020 ┆ Interest    ┆ 00.00     ┆ 5,145.43   ┆ 3.601798e4 │
╰─────────────┴─────────────┴───────────┴────────────┴────────────╯

In [20]:
s = time.time()
print(df_pypolars_from_pandas.groupby("Description").select("Balance").mean())
e = time.time()
pl_time = e - s 
print("PyPolars Groupby Calculation Time = {}".format(pl_time))

shape: (15, 2)
╭───────────────┬──────────────╮
│ Description   ┆ Balance_mean │
│ ---           ┆ ---          │
│ str           ┆ f64          │
╞═══════════════╪══════════════╡
│ Purchase      ┆ 6.11507648e5 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ RTGS          ┆ 6.12053761e5 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Reversal      ┆ 6.1378287e5  │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Transfer      ┆ 6.14664198e5 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...           ┆ ...          │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Miscellaneous ┆ 6.13644685e5 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Interest      ┆ 6.12680277e5 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Cash          ┆ 6.14837796e5 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Bill          ┆ 6.15399109e5 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Tax           ┆ 6.13021146e5 │
╰───────────────┴──────────────╯
PyPolars Groupby Calculation Time = 0.2570993900299072

In [21]:
pd_time > pl_time

True

In [22]:
print("pypolars is {:.2f} times faster than pandas for the current groupby operation".format(pd_time / pl_time))

pypolars is 1.34 times faster than pandas for the current groupby operation